* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.darkModeFont{
    color: white;
}
.toggleMode{
    height: 40px;
   
    width: 70px;
    align-items: center;
    display: flex;
    border-radius: 100px;
    background-color: rgb(233, 233, 233);
    box-shadow: 1px 1px 10px grey;
}
.circle2{
    height: 30px;
    width: 30px;
    
    border-radius: 50%;
    margin-left: 5px;
    transition-duration: 600ms;
    background-color: white;
    box-shadow: 1px 1px 10px green;
}

.dark{
    background-color: rgb(31, 31, 31);
    transition-duration: 1s;
}
.circleAnim{
    transform: translate(100%);
    transition-duration: 600ms;
}


#off{
 margin-left: 18%;
 transition-duration: 500ms;
 color: grey;
 font-size: 20px;
}
#on{
    margin-left: -40%;
    transition-duration: 500ms;
    font-size: 20px;
    color: black
}


.welcome h1{
    font-size: 10vw;
    
}
.welcome{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 80%;
   -webkit-animation: fadeout 2.6s;
}
#mainShow{
    -webkit-animation: fadein 1s;
}

.header {
    height: 35vh;
    background: url(./images/green.jpg) no-repeat;
    background-position: 10% 15%;
    background-size: cover;
    border-bottom: 15px solid #007531;
}

.main {
    margin-top: 3vh;
}

.intro {
    height: 80vh;
    border: 1.5px solid #ededed;
    padding: 10px 30px;
    margin-bottom: 3vh;
}

.skills {
    /* height: 70vh; */
    border: 1.5px solid #ededed;
    padding: 20px 30px;
}
#me{
    overflow-y: scroll;
    height: 80vh;
}

.projects {
    /* height: 50vh; */
    border: 1.5px solid #ededed;
    padding: 20px 30px;
    margin-bottom: 3vh;
    
}

.contact {
    height: 90vh;
    border: 1.5px solid #ededed;
    padding: 10px 30px;
}

.circle {
    height: 30vh;
    width: 30vh;
    border: 4px solid #007531;
    border-radius: 50%;
    background: url(./images/photo.jpg) no-repeat;
    background-position: 45% 45%;
    background-size: 280% 380%;

}

.info button {
    background-color: #007531;
    color: white;
    border: none;
    height: 10vh;
    width: 100%;
    border-radius: 10px 40px;
    font-size: 40px;
    font-weight: 600;
    transition-duration: 0.7s;
}
.info button:hover{
    color: #042913;
    border-radius: 8px;
    transition-duration: 0.5s;
}


.it {
    margin-top: 7vh;
}

.it h4 {
    color: #007531;
    line-height: 40px;
}

.proDetail {
    margin-left: 30px;
    line-height: 3vh;
}

.proDetail a {
    text-decoration: none;
    color: #007531;
}
.proDetail a:hover{
    color: #042913;
}

.proMain {
    margin-top: 20px;
}

.inputs input {
    width: 100%;
    height: 8vh;
    margin: 1vh 0;
    border: 1.7px solid #ededed;
}

.inputs input:hover{
    border: 1px solid black;
    transition-duration: 0.7s;
}

.inputs {
    padding: 5vh 40px;
}

.contact button {
    background-color: #007531;
    color: white;
    border: none;
    margin-top: 3vh;
    height: 6vh;
    width: 150px;
    border-radius: 6px;
}

.footer {
    color: white;
    background-color: black;
    height: 100%;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer a:hover{
    color: #042913;
}

.hide {
    display: none;
  
}

.skillIntro{
    -webkit-animation: fadeout 2s;
    animation-delay: 6s;
}
.skillImg{
   text-align: center;
    border: 1.5px solid #ededed;
}
.skillImg img{
 margin: 10px 5px 0 5px;
 transition-duration: 400ms;
   
}
.skillImg img:hover{
    transform: scale(1.1);
    transition-duration: 400ms;
}
.map{
    display: none;
    /* position: absolute; */
    -webkit-animation: fadein 1s;
}
iframe{
    /* display: none; */
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(100, 131, 100);
    transition-duration: 1s;
}
.mapShow:hover .map{
    display: block;
   -webkit-animation: fadein 1s;
}

@keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fadeout{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.header input {
    margin-left: 10px;
    height: 8vh;
    border: 1px solid #c4c1c1;
    background-color: transparent;
    width: 155px;
}
.hobby{
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.hobby span{
    margin: 10px;
    display: none;
}
.hobby h1{
    display: inline-block;
}
.hobby:hover span{
    display: inline-block;
    -webkit-animation: fadein 1s;
}





@media only screen and (max-width:992px){
    .hobby span{
        display: block;
    }
    .hobby{
        display: block;
        text-align: center;
    }
}
